// 全局样式修改

// nav样式
.nav-links > .nav-item+.nav-item
  margin-left: 2rem !important;

// sideBar侧边栏样式

.sidebar
  span, a
    font-weight 500 !important
    font-size .9rem !important

.sidebar > .sidebar-links 
  padding 1rem 0 !important

.sidebar-heading
  border-left: .4rem solid transparent !important;

.sidebar-group.is-sub-group > .open
  border-color: #3eaf7c !important; 

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) 
  opacity 1 !important

.sidebar span.arrow 
  cursor pointer

.sidebar-links > li 
  margin-top 0 !important